.calendar {
  width: 100%;
}

.calendar-header {
  &-left {
    display: flex;
    align-items: center;

    height: 50px;
    line-height: 28px;
  }

  &-value {
    font-size: 20px;
  }

  &-btn {
    background: #eee;
    cursor: pointer;
    border: 0;
    padding: 0 15px;
    line-height: 28px;

    &:hover {
      background: #ddd;
    }
  }

  &-icon {
    width: 28px;
    height: 28px;
    line-height: 28px;

    border-radius: 50%;
    text-align: center;
    font-size: 12px;

    /* 元素及其子元素的文本不可选中 */
    user-select: none;
    cursor: pointer;

    margin-right: 12px;
    /* 设置除第一个子元素外的样式 */
    &:not(:first-child) {
      margin: 0 12px;
    }

    &:hover {
      background: #eee;
    }
  }
}

.calendar-month {
  &-week-list {
    display: flex;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;

    &-item {
      padding: 20px 16px;
      text-align: center;
      color: #7d7d7f;
      flex: 1;
    }
  }

  &-body {
    &-row {
      height: 100px;
      display: flex;
    }
    &-cell {
      flex: 1;
      padding: 10px;
      border: 1px solid #eee;
      color: #ccc;
      &-current {
        color: #000;
      }
    }
  }
}