.calendar {
    height: 250px;
    width: 300px;
    padding: 10px;
    border: 1px solid #aaa;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.day, .empty {
    width: calc(100% / 7);
    text-align: center;
    line-height: 30px;
}

.grey {
    background-color: #eee;
}

.day:hover, .selected {
    background-color: #ccc;
    cursor: pointer;
}